<p class="text-center"><%= image_tag "erro.png", :size => "251x235", :alt => "Erro no servidor" %></p
<h1>Oooopsss falha nossa!</h1>
<p>Ouve uma falha ao processar sua requisi&ccedil;&atilde;o. Nossos macacos programadores j&aacute; foram notificados.</p>