<p class="text-center"><%= image_tag "500.png", :size => "251x322", :alt => "Server error" %></p>
<h1>Oooopsss our fault!</h1>
<p>There was an error rendering this page. Our coding monkeys were notified.</p>