<p class="text-center"><%= image_tag "erro.png", :size => "251x235", :alt => "Arquivo n&atilde;o encontrado" %></p>
<h1>Oooopsss!</h1>
<p>O conte&uacute;do que voc&ecirc; est&aacute; procurando n&atilde;o foi encontrado.</p>
