/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */

/* FONTS
-------------------------------------------------------------- */
@font-face {
    font-family: Helvetica Light;
    src: font-url("helveticaultralight.eot");
}
@font-face {
    font-family: Helvetica Light;
    src: font-url("helveticaultralight.ttf");
}
@font-face {
    font-family: Helvetica;
    src: font-url("helveticaneueltstdlt.eot");
}
@font-face {
    font-family: Helvetica;
    src: font-url("helveticaneueltstdlt.ttf");
}
@font-face {
    font-family: Helvetica Bold;
    src: font-url("helveticaneue-bold.eot");
}
@font-face {
    font-family: Helvetica Bold;
    src: font-url("helveticaneue-bold.ttf");
}

@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot');
	src:font-url('icomoon.eot?#iefix') format('embedded-opentype'),
		font-url('icomoon.woff') format('woff'),
		font-url('icomoon.ttf') format('truetype'),
		font-url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* SOCIAL
-------------------------------------------------------------- */
div.social {
    width:125px;
    float:right;
    margin-right: 20px;
    margin-top: -48px;

    ul{
        margin: 0;
        padding: 0;
    }
    ul li {
        width: 33%;
        margin: 0;
        float: left;
        display: block;
        cursor: pointer;
    }
    ul li a {
        color: white;
        font-family: 'icomoon';
        text-decoration: none;
        font-size: 29px;
        padding:2px;
    }
    ul li a.github:hover {
        color:black !important;
    }
    ul li a.twitter:hover {
        color:#5dd7fc !important;
    }
    ul li a.googleplus:hover {
        color:#ba290c !important;
    }
}
.social.visible-xs{
    width: auto;
    float:none;
    margin:30px 0 0 0;
}