// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cor_destaque: #f9da03;

.botao-pesquisa{
	background-color: $cor_destaque;
	border-color: $cor_destaque;
	color:black;

	&:hover{
		background-color: darken($cor_destaque, 5%);
		border-color: darken($cor_destaque, 5%);
		color:black;
	}
}