/* ESTRUTURA
--------------------------------------------------------- */

img#fundo{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    display:none;
}

div#icons {
    font-family:'icomoon';
    float: right;
    font-size: 27px;
    height: 31px;
    margin-right: 10px;

    a{
        color: white;
        text-decoration: none;
    }
}

div#holder {
    margin: 60px auto 0;
    width: 90%;

    div#content_home_left {
        height:500px;
        width:58%;
        float:left;
        background-color:rgba(0,0,0,0.5);
        text-align:left;
        padding: 40px;

        h1{
            font-size: 56px;
            padding:0;
            margin:0;
        }
        h2{
            font: 34px Myriad Bold, Arial, Helvetica, sans-serif;
            padding:0;
            margin:-10px 0 0 0;

            img{
                margin-left:10px;
                vertical-align: baseline;
            }
        }
        p.motd{
            font-style:italic;
            font-size:24px;
            margin: 20px 0;
        }
    }
    div#content_home_right {
        width:40%;
        float:right;
        padding-bottom: 100px;
    }
}

div#creativecommons {
    float: right;
    margin-top: 115px;
    width:8%;
}

div#content_interna_right {
    width:28%;
    float:right;
    height:100%;
}
div#content_home_right_agenda {
    height:390px;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    margin-top: 75px;
    padding: 40px;
    overflow: hidden;

    h1{
        font-size: 48px;
        padding:0;
        margin:0 0 20px 0;
        text-align: left;
    }

    .agendas{
        width: 100%;
        height: 270px;
        overflow-y:auto;
    }
}
div#appstore {
    float:right;
    margin-top: 18px;
    display:none;
}
div#footer_geral {
    height: 86px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
div#line_footer {
    background-color: #55575a;
    background-repeat: repeat-x;
    background-position: left bottom;
    height:3px;
}
div#footer {
    width: 100%;
    height:83px;
    background-color:#141516;
    opacity:0.69;
    -webkit-box-shadow: inset 0px 24px 14px -10px #000;
    box-shadow: inset 0px 24px 14px -10px #000;
}
div#footer_conteudo {
    height: 152px;
    position: relative;
    z-index: 777;
    margin-top: -181px;
    width: 88%;
    margin-left: 120px;
    margin-right: 40px;
    background-image: image-url('coffee_monster.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size:175px 152px;
}