/* =COMMON STYLE
-------------------------------------------------------------- */
html, body, form, fieldset {
    margin: 0;
    padding: 0;
}
body {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    color: #fff;
    background: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background: image-url('imgBody.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Heading */
h1 {
    font-size: 170%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}
h4 {
    font-size: 100%;
    text-transform: uppercase;
}
small, .small, .smalldark, .mosimage_caption {
    font-size: 100%;
    color: #999999;
}
p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin: 15px 0;
    padding: 0;
}
th {
    padding: 5px;
    font-weight: bold;
    text-align: left;
}
fieldset {
    border: none;
}
fieldset a {
    font-weight: bold;
}
a:link, a:visited{
}
a:hover, a:active, a:focus{
}
hr {
}
ul {
    list-style: none;
}
ul li {
}
ol li {
}
td, div {
    font-size: 100%;
}

/* ESTRUTURA
--------------------------------------------------------- */

img#fundo{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    display:none;
}
div#footer_geral {
    height: 86px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
div#line_footer {
    background-color: #55575a;
    background-repeat: repeat-x;
    background-position: left bottom;
    height:3px;
}
div#footer {
    width: 100%;
    height:83px;
    background-color:#141516;
    opacity:0.69;
    -webkit-box-shadow: inset 0px 24px 14px -10px #000;
    box-shadow: inset 0px 24px 14px -10px #000;
}
div#footer_conteudo {
    height: 152px;
    position: relative;
    z-index: 777;
    margin-top: -181px;
    width: 88%;
    margin-left: 120px;
    margin-right: 40px;
    background-image: image-url('coffee_monster.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size:175px 152px;
}
div#footer_menu {
    height: 32px;
    margin-left: 184px;
    margin-top: 115px;
    width: 67%;
    background-color:blue;
    float:left;
}
div#creativecommons {
    float: right;
    margin-top: 115px;
    width:8%;
}
div#holder {
    margin: 60px auto 0;
    width: 90%;
}
div#content_home_left {
    height:500px;
    width:58%;
    float:left;
    background-color:black;
    opacity:0.50;
}
div#content_home_right {
    width:40%;
    float:right;
    padding-bottom: 100px;
}
div#content_interna_right {
    width:28%;
    float:right;
    height:100%;
}
div#content_home_right_agenda {
    height:390px;
    width:100%;
    background-color:black;
    opacity:0.50;
    margin-top: 75px;
}
div#footer_content_home_right {
    color: black;
    margin-top: 72px;
    text-align: left;
    margin-bottom:30px;
}
div#footer_content_home_right p{
    margin:10px 0 0 0;
    padding:0;
    font-size:13px;
}
div#footer_content_interna_right {
    color: black;
    margin-top: 72px;
    text-align: left;
    margin-bottom:30px;
}
div#footer_content_interna_right p{
    margin:10px 0 0 0;
    padding:0;
    font-size:13px;
}

div#icons {
    font-family:'icomoon';
    float: right;
    font-size: 27px;
    height: 31px;
    margin-right: 10px;

    a{
        color: white;
        text-decoration: none;
    }
}
div#appstore {
    float:right;
    margin-top: 18px;
    display:none;
}
div#content_interna_geral {
    width:70%;
    height:100%;
    float:left;
    background-color:yellow;
}

div#content_interna_left {
    background-color:black;
    opacity:0.50;
    text-align:left;
}
div#content_interna_left p {
    margin:15px 0 0 0;
}

div#titulo_interna_left {
    background-color:white;
    height:75px;
}


.brclear {
     clear:both;
     height:0;
     margin:0;
     font-size: 1px;
     line-height: 0px;
}