// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	#creativecommons{
		position: absolute;
		right: 0;
		bottom: -24px;
	}
	ul#menu{
		margin-top: 117px;
	}

#icons-social-responsive{
	#icons{
		float: none !important;
		text-align: center;
		display: none;
		height: 81px;
	}
}

div#holder div#content{
	margin-bottom: 150px;
}

div#content_home_left,div#content_interna_left{
	height: auto !important;
}
div#copyright{
	margin-top: 54px;
}

@media all and (max-width: 1500px){
	ul#menu{
		margin-left: 150px;
		width:100%;
	}
	ul#menu li{
		font-size: 20px;
	}
}

@media all and (max-width: 1250px){

	#titulo{
	 width: 300px !important;
	}
	.agendas{
		.agenda{
			width: 100% !important;
		}
	}

	.interna{
		h1.titulo,h2.titulo{
			width: 300px;
		}
	}
	#social{
		width: 500px !important;
	}

	ul#menu li{
	}
	ul#menu{
		width:100%;
	}
}

@media all and (max-width: 1000px){


	body.interna a.agendas-toggle{
	  right:0;
	}
	body.interna div.agendas.interna div.agenda{
		margin: 0;
	}

	body.interna.fullscreen #holder article h3{
		margin-bottom: 110px;
	}

	body.interna.fullscreen #holder footer{
		width: 100%;
		margin-top: -240px !important;
	}

	.agendas{
		.agenda{
			margin-bottom: 10px !important;
		}
	}

	.interna{
		h1.titulo,h2.titulo{
			width: 100% !important;
		}
	}
	#social{
		width: 100% !important;
		float: left !important;
		padding-top: 20px;
		#icons{
		  float: left !important;
		}
	}
	header{
		height: 135px !important;
	}

	h2,.video_youtube{
		iframe{
			width: 100%;
			height: 400px;
		}
	}

	div#holder div#content{
		margin-bottom: 0;
		width: 100%;
	}

	div#holder {
		padding-bottom: 80px;
		div#content_home_left{
			height: auto;
		}
	}

	div#footer_conteudo{
	  margin-left:0 !important;
	}
	div#agenda{
		height: auto;
		.agendas{
			height: auto;
		}
	}
	ul#menu
	{
		width:100%;
		margin-left: 154px;
		li{
		 padding: 0 6px;
	     font-size: 16px !important;
	   }
	}
}
@media all and (max-width: 820px){

	h2,.video_youtube{
		iframe{
			height: 350px;
		}
	}

	div#holder div#content{
		margin-bottom: 0;
		width: 100%;
	}

	#icons{
		display: none;
	}
	.interna #icons{
		/*display: block;*/
	}
	.interna #icons{
		padding-top:0;
	}

	.agendas-toggle{
		display: block !important;
		width: 100% !important;
		margin-top: 30px;
		float: none !important;
	}

	#icons-social-responsive{
		#icons{
			display: block;
		}
	}
	div#holder{
		padding-bottom: 190px;
	}
	#content_home_left,#content_home_right,#content_interna_left,#content_interna_right {
		float: left !important;
		width: 100% !important;
		margin: auto !important;

	}
	#icons{
		width: 100% !important;
		text-align: center;
		padding-top: 30px;
	}
	#content_home_left,#content_interna_left{
		 h1{
		 	font-size: 40px !important;
		 }
		 h2{
		 	font-size: 30px !important;
		 }
	}
	#content_home_right,
	#content_interna_right{
	}
	#copyright{
		margin-top: 5px !important;
	}
	div#footer_holder,div#footer{
		height: 200px;
	}
	div#footer_conteudo{
		height: 262px;
		margin-top: -315px;
		width: 100%;
		background-position:center top;
	}
	ul#menu{
		height: 162px;
		width: 120px;
		position: absolute;
		right: 10px;
		bottom: -37px;
		font-size: 14px;
		li{
			text-align: right;
			padding: 2.5px;
			display: block;
			font-size: 14px;
			.separator{
				display: none !important;
			}
		}
	}
	#creativecommons{
		position: absolute !important;
		bottom: -75px !important;
		width: 183px  !important;
		height: 64px !important;
		left: 50%;
		margin-left: -91px !important;
	}
}

@media all and (max-width: 600px){

	h2,.video_youtube{
		iframe{
			height: 250px;
		}
	}
}

@media all and (max-width: 400px){

	h2,.video_youtube{
		iframe{
			height: 150px;
		}
	}
}