<% if object && object.errors.size > 0 %>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(object.errors.size, "erro impediu", "erros impediram")%>  que este registro fosse salvo</h3>
  </div>
  <div class="panel-body">
	<p>Existem problemas com os seguintes campos:</p>
	<ul>
	<% object.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	</ul>
  </div>
</div>
<% end %>

