                <div id="copyright">
                    <p style="font-weight:bold">CocoaHeads Brasil &copy;<%= Time.new.year %></p>
                    <p>Exceto quando indicado, o conteúdo deste website &eacute; licenciado sob a CC 4.0<br />
                   CocoaHeads Brasil &eacute; integrante do grupo CocoaHeads.org.</p>
                </div>