<li><%= link_to("&#xe601;".html_safe, "https://github.com/BeaconToolbox", :class => "github", :target => :blank ) %></li>
<li><%= link_to("&#xe640;".html_safe, "https://twitter.com/BeaconToolbox", :class => "twitter", :target => :blank ) %></li>
<li><%= link_to("&#xe643;".html_safe, "https://plus.google.com/106676258278144195992", :class => "googleplus", :target => :blank ) %></li>